/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.env.dusk.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
style-generator.sh
push.sh
coverage.zip
coverage.html
__pycache__
_ide_helper.php