/**
 * Typography for the Default Templates
 *
 */



.wt-typography {

    // ------------------------------------------------
    // Headers and Paragraph styles
    // ------------------------------------------------

    & h1 {
        @apply text-4xl pt-3 pb-1 my-0 antialiased tracking-tight leading-tight text-gray-700;
      }

    @media (min-width: 640px) {
        & h1 {
            @apply text-5xl pt-4;
        }
    }

    & p {
        @apply pt-2 pb-3 px-2 text-base leading-relaxed text-gray-700;
    }

    & h2, h3, h4 {

        @apply pt-4 pb-1 my-0 antialiased text-gray-800;

    }


    & h2 {
        @apply text-3xl leading-tight font-semibold py-4 text-gray-700 tracking-tight;

    }


    & h3 {
        @apply text-3xl leading-snug tracking-tight;
    }


    & h4 {
        @apply text-xl font-bold leading-snug tracking-normal pb-1;
    }


    & .wt-summary {
        @apply py-4 px-6 rounded -mx-6 text-xl;
    }


    // ------------------------------------------------
    // List styles (UL/OL)
    // ------------------------------------------------

    & ul>li, & ol>li {
        @apply text-base ml-4 pb-2 pr-0 leading-relaxed text-gray-700;
    }

    & ol {
        @apply list-decimal;
    }

    & ul {
        @apply list-disc;
    }

    & ul, & ol {
        @apply list-inside ml-3 my-2;
    }

    @media (min-width: 640px) {
        & ul, & ol {
            @apply ml-6;
        }
    }



    // ------------------------------------------------
    // Image styles
    // ------------------------------------------------

    & .img-fig {
        @apply mt-6 mb-6;
    }

    & .img-container-stretched .img-fig {
        @apply w-full;
    }

    & .img-container-stretched {
        @apply w-full;
    }

    & .img-self-stretched {
        width: 120%;
        max-width: 120%;
        margin-left: -10%;
    }

    & .img-container-background {
        @apply w-full flex items-center justify-center;
    }

    // Image Border
    & .img-self-border {
        @apply border p-4 shadow;
    }



    // ------------------------------------------------
    // Table styles
    // ------------------------------------------------

    & .wt-table {
        @apply w-full table-auto my-8;
    }

    & .wt-table-tr {
        @apply border-b;
    }

    & .wt-table-td {
        @apply py-2;
    }




    // ------------------------------------------------
    // Inline Tag styles
    // ------------------------------------------------

    & mark {
        @apply bg-yellow-200 p-1;
    }

    & b {
        @apply font-bold;
    }



    // ------------------------------------------------
    // Code Block styling
    // ------------------------------------------------

    & code:not(.hljs) {
        @apply bg-red-100 text-red-700 px-2  mx-1 rounded-sm font-mono;
    }

    & code.hljs {
        @apply p-6 my-6 -ml-6;
    }

}