.container {

    margin-left: auto;

    margin-right: auto;

    width: 100%
}

@media (min-width: 1280px) {

    .container {

        width: 100%
    }

    @media (min-width: 640px) {

        .container {

            max-width: 640px
        }
    }

    @media (min-width: 768px) {

        .container {

            max-width: 768px
        }
    }

    @media (min-width: 1024px) {

        .container {

            max-width: 1024px
        }
    }

    @media (min-width: 1280px) {

        .container {

            max-width: 1280px
        }
    }

    @media (min-width: 1536px) {

        .container {

            max-width: 1536px
        }
    }
}

.site-top {

    display: flex;

    width: 100%;

    justify-content: space-between;

    padding-left: 1.5rem;

    padding-right: 1.5rem;

    padding-top: 1rem;

    padding-bottom: 1rem
}
.site-logo {

    display: flex;

    align-items: center;

    justify-content: flex-start
}
.site-logo-img {

    height: 3rem;

    width: 3rem
}
.site-logo-caption {

    cursor: pointer;

    padding-left: 0.5rem;

    font-size: 1.5rem;

    line-height: 2rem;

    font-weight: 700
}
@media (min-width: 768px) {

    .site-logo-caption {

        font-size: 1.875rem;

        line-height: 2.25rem
    }
}

.site-mid {

    display: flex;

    width: 100%
}
.site-main {

    width: 66.666667%;

    padding-left: 1.5rem;

    padding-right: 1.5rem;

    padding-top: 1rem;

    padding-bottom: 1rem
}
.site-aside {

    width: 33.333333%;

    padding-left: 1.5rem;

    padding-right: 1.5rem;

    padding-top: 1rem;

    padding-bottom: 1rem
}

.site-bottom {

    display: flex;

    width: 100%;

    --tw-bg-opacity: 1;

    background-color: rgba(254, 226, 226, var(--tw-bg-opacity));

    padding-left: 1.5rem;

    padding-right: 1.5rem;

    padding-top: 1rem;

    padding-bottom: 1rem
}


.wrap {

    display: flex;

    min-height: 100vh;

    align-items: center;

    justify-content: center;

    --tw-bg-opacity: 1;

    background-color: rgba(249, 250, 251, var(--tw-bg-opacity));

    padding-top: 3rem;

    padding-bottom: 3rem;

    padding-left: 1rem;

    padding-right: 1rem
}


@media (min-width: 640px) {

    .wrap {

        padding-left: 1.5rem;

        padding-right: 1.5rem
    }
}


@media (min-width: 1024px) {

    .wrap {

        padding-left: 2rem;

        padding-right: 2rem
    }
}
.wt-login-wrap {

    box-sizing: border-box;

    width: 100%
}
.wt-login-wrap > :not([hidden]) ~ :not([hidden]) {

    --tw-space-y-reverse: 0;

    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));

    margin-bottom: calc(2rem * var(--tw-space-y-reverse))
}
.wt-login-wrap {

    padding: 1.5rem
}
.wt-login-icon {

    margin-left: auto;

    margin-right: auto;

    height: 3rem;

    width: auto
}
.wt-login-heading {

    margin-top: 1.5rem;

    text-align: center;

    font-size: 1.875rem;

    line-height: 2.25rem;

    font-weight: 800;

    --tw-text-opacity: 1;

    color: rgba(17, 24, 39, var(--tw-text-opacity))
}
.wt-login-subhead {

    margin-top: 0.5rem;

    text-align: center;

    font-size: 0.875rem;

    line-height: 1.25rem;

    --tw-text-opacity: 1;

    color: rgba(75, 85, 99, var(--tw-text-opacity))
}
.wt-login-body {

    margin-top: 2rem
}
.wt-login-body > :not([hidden]) ~ :not([hidden]) {

    --tw-space-y-reverse: 0;

    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));

    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
}
.wt-login-items > :not([hidden]) ~ :not([hidden]) {

    --tw-space-y-reverse: 0;

    margin-top: calc(-1px * calc(1 - var(--tw-space-y-reverse)));

    margin-bottom: calc(-1px * var(--tw-space-y-reverse))
}
.wt-login-items {

    border-radius: 0.375rem;

    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.wt-login-inp {

    position: relative;

    box-sizing: border-box;

    display: block;

    width: 100%;

    -webkit-appearance: none;

       -moz-appearance: none;

            appearance: none;

    border-radius: 0px;

    border-top-left-radius: 0.375rem;

    border-top-right-radius: 0.375rem;

    border-width: 1px;

    --tw-border-opacity: 1;

    border-color: rgba(209, 213, 219, var(--tw-border-opacity));

    padding-left: 0.75rem;

    padding-right: 0.75rem;

    padding-top: 0.5rem;

    padding-bottom: 0.5rem;

    --tw-text-opacity: 1;

    color: rgba(17, 24, 39, var(--tw-text-opacity))
}
.wt-login-inp::-moz-placeholder {

    --tw-placeholder-opacity: 1;

    color: rgba(107, 114, 128, var(--tw-placeholder-opacity))
}
.wt-login-inp:-ms-input-placeholder {

    --tw-placeholder-opacity: 1;

    color: rgba(107, 114, 128, var(--tw-placeholder-opacity))
}
.wt-login-inp::placeholder {

    --tw-placeholder-opacity: 1;

    color: rgba(107, 114, 128, var(--tw-placeholder-opacity))
}
.wt-login-inp:focus {

    z-index: 10;

    --tw-border-opacity: 1;

    border-color: rgba(99, 102, 241, var(--tw-border-opacity));

    outline: 2px solid transparent;

    outline-offset: 2px;

    --tw-ring-opacity: 1;

    --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity))
}
@media (min-width: 640px) {

    .wt-login-inp {

        font-size: 0.875rem;

        line-height: 1.25rem
    }
}
.wt-login-err-txt {}
.wt-login-inp-lbl {

    position: absolute;

    width: 1px;

    height: 1px;

    padding: 0;

    margin: -1px;

    overflow: hidden;

    clip: rect(0, 0, 0, 0);

    white-space: nowrap;

    border-width: 0
}
.wt-login-setting {

    display: flex;

    align-items: center;

    justify-content: space-between
}
.wt-login-setting div:first-child {

    display: flex;

    align-items: center
}
.wt-login-setting div:nth-child(2) {

    font-size: 0.875rem;

    line-height: 1.25rem
}
.wt-login-remember {

    margin-left: 0.5rem;

    display: block;

    font-size: 0.875rem;

    line-height: 1.25rem;

    --tw-text-opacity: 1;

    color: rgba(17, 24, 39, var(--tw-text-opacity))
}
.wt-login-forgot-pass {

    font-weight: 500;

    --tw-text-opacity: 1;

    color: rgba(79, 70, 229, var(--tw-text-opacity))
}
.wt-login-forgot-pass:hover {

    --tw-text-opacity: 1;

    color: rgba(99, 102, 241, var(--tw-text-opacity))
}

#wt-login-wrap {

    box-sizing: border-box;

    width: 100%;

    padding: 1.5rem
}
#wt-login-header {

    width: 100%
}
#wt-login-icon {

    width: 100%;

    text-align: center
}
#wt-login-signin-text {

    width: 100%;

    text-align: center;

    font-size: 1.875rem;

    line-height: 2.25rem;

    font-weight: 800;

    --tw-text-opacity: 1;

    color: rgba(17, 24, 39, var(--tw-text-opacity))
}
#wt-login-create-text {

    width: 100%;

    text-align: center;

    font-size: 0.875rem;

    line-height: 1.25rem;

    --tw-text-opacity: 1;

    color: rgba(75, 85, 99, var(--tw-text-opacity))
}




